body {background-color: rgb(70, 226, 226);;}
h1 {font-size: 30px;}
h1 {font-family: Arial;}
li {font-size: 25px;}
li {font-family: Arial;}
div {text-align: center;}
p {font-size: 25px;}
h2 {font-family: Arial;}
h2 {color: darkblue;}